<IfModule mod_rewrite.c>
    RewriteEngine On

    # If requested regular file exists, serve directly
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Otherwise send to index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
